.container{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
}
.no-flex{
    border:2px solid red;
    width:100%;
    height:300px;
}

.box{
    width:50px;
    height:50px;
    border:2px solid green;
}
.container1{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
}
.container2{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:flex-start;
}
.container3{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    Justify-content:flex-end;
}
.container4{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:center;
}
.container5{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:space-between;
}
.container6{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:space-evenly;
}

.container7{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:space-around;
}
.container8{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    align-items:flex-start;
}
.container9{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:flex-start;
    align-items:flex-start;
}
.container10{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:flex-end;
    align-items:flex-start;
}
.container11{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:center;
    align-items:flex-start;
}
.container12{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}
.container13{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:space-evenly;
    align-items:flex-start;
}
.container14{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:space-around;
    align-items:flex-start;
}
.container15{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:flex-start;
    align-items:flex-end;
}
.container16{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
}
.container17{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:center;
    align-items:flex-end;
}
.container18{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}
.container19{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:space-evenly;
    align-items:flex-end;
}
.container20{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:space-around;
    align-items:flex-end;
}
.container21{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
.container22{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
.container23{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container24{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.container25{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.container26{
    border:2px solid red;
    width:100%;
    height:300px;
    display:flex;
    justify-content:space-around;
    align-items:center;
}